@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.containerCall {
    max-width: 600vw;
    position: absolute;
    width: 90%;
    background: rgba(255, 255, 255, 0.85); /* Semi-transparent for readability */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;/*Quanto dura l'animazione e il box-shadow come varia*/
}

h1 {
    margin: 0 0 20px;
    font-size: 28px;
}

.sectionCall {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fafafa;
    
}

.textMessage[type='text']{
    
    width: 80%;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    text-align: left;
   
}

input[type='text']:focus {
    outline: none;
    border-color: rgba(76, 37, 218, 0.8);
}


.buttonChat{
    margin-bottom: 1%;
    padding: 8px 10px;
    font-size: 16px;
    color: white;
    background-color: #d43a70;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonCall {
    padding: 5px 10px;
    font-size: 13px;
    color: white;
    background-color: #d43a70;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.buttonCall:hover {
    background-color: #d43a70cc;
}

.sectionMessage{
    
    display: flex; /* Abilita Flexbox */
    justify-content:flex-start; /* Separa gli elementi: uno a sinistra, uno a destra */
    align-items: center; /* Centra verticalmente il testo e il bottone */
    gap: 10px;
    margin-top: 10px; /* Aggiungi un margine superiore per separare i messaggi */
    
}

.dashboardCall{
    text-align: center;
    margin: auto;
    animation: slideUp 1s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 31vw;
    top: 16vw;
    max-height: 400px;  
    width: 40vw;
    background-size: cover;
    margin:0;

}

.myMessage {
    align-self: flex-end; /* Allinea il messaggio dell'utente a destra */
    max-width: 80%;
    word-wrap: break-word; /* Assicura che le parole vengano spezzate se troppo lunghe */
  }
  
.otherMessage {
    align-self: flex-start; /* Allinea il messaggio ricevuto a sinistra */
    max-width: 80%;
    word-wrap: break-word; /* Assicura che le parole vengano spezzate se troppo lunghe */
  }

.Chat{
    animation: slideUp 1s ease-in-out;
}



.messages{
    
    overflow-y: auto; /* Abilita lo scroll verticale */
    display: flex;
    flex-direction: column; /* Mostra i messaggi in ordine verticale */
    
}

.tableElement{
    animation: slideUp 0.5s ease-in-out;
}


@keyframes slideUp { from { opacity: 0; transform: translateY(30px); } to { opacity: 1; transform: translateY(0); } }



/* Media query per schermi piccoli */
/* Adatta la larghezza della pagina ai dispositivi mobili */
@media (max-width: 1300px) {
    .dashboardCall {
        width: 85%; /* Rende il contenitore più largo per dispositivi piccoli */
        top: 18vh;   /* Abbassa leggermente la posizione per evitare overflow */
        left: 0%;     /* Centrato senza margini */
        padding: 5%;
        box-shadow: none; /* Riduce l'effetto del box-shadow per schermi piccoli */
    }

   
    .containerCall {
        width: 90%;
        padding: 2%;
    }

    .textMessage[type='text'] {
        font-size: 80%;
        width: 30%;
    }

    footer {
        font-size: 80%;
        padding: 2%;
    }

    .buttonChat {
        font-size: 80%;
        margin-bottom: 0.5vh;
        width: 30%;
    }
    
    .buttonCall{
        font-size: 80%;
        width: 30%;
    }
}